/*------------- S reset css  重置默认的一些样式  浏览器子自带的  目的是保持各种终端显示一致 -----------------*/
@charset "utf-8";
html {
  background: #fff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  /*设置所有的盒子的宽度以边框开始计算*/
  -webkit-box-sizing: border-box;
  /*要兼容 webkit 浏览器内核厂商 这种情况一般是老的移动端浏览器*/
  box-sizing: border-box;
}
html,
body {
  background: #f7f7f7;
  color: #5a5a5a;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
::before,
::after {
  margin: 0;
  padding: 0;
  /*在移动端特殊的设置*/
}
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
ins,
a {
  text-decoration: none;
  color: #5a5a5a;
}
a:hover {
  color: #5a5a5a;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  /*特殊的属性定义  清除浏览器给input自带的样式*/
  -webkit-appearance: none;
  /*组件默认的样式空*/
}
/*------------- E  reset css  重置默认的一些样式  浏览器子自带的  目的是保持各种终端显示一致 -----------------*/
/*------------- S common css  也就是我们公用的css -------------*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after,
.clearfix::before {
  content: ".";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.w33 {
  width: 33.3333%;
}
.w50 {
  width: 50%;
}
.w25 {
  width: 25%;
}
/*------------- E common css  也就是我们公用的css -------------*/
.hide {
  display: none;
}
/*-------------- S 字体图标库 -------------*/
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  border-top: 0.039999rem solid #bcbcbc;
  border-bottom: 0.039999rem solid #bcbcbc;
  background: #f3f3f3;
  height: 0.999975rem;
  line-height: 0.946643rem;
  text-indent: 0.26666rem;
  font-size: 14px;
  color: #874604;
  font-family: "微软雅黑";
}
[data-dpr='2'] .header {
  font-size: 28px;
}
[data-dpr="3"] .header {
  font-size: 42px;
}
.rankingList ul {
  background: #fff;
}
.rankingList ul li {
  border-bottom: 0.026666rem solid #bcbcbc;
}
.rankingList ul li a {
  height: 1.73329rem;
  display: block;
}
.rankingList ul li a span {
  display: block;
  width: 0.53332rem;
  height: 0.53332rem;
  background: #c9c9c9;
  color: #fff;
  text-align: center;
  line-height: 0.53332rem;
  margin: 0.39999rem 0.26666rem;
}
.rankingList ul li a .title {
  font-family: "微软雅黑";
  font-size: 16px;
  color: #000;
  margin-top: 0.26666rem;
  margin-bottom: 0.13333rem;
}
[data-dpr='2'] .rankingList ul li a .title {
  font-size: 32px;
}
[data-dpr="3"] .rankingList ul li a .title {
  font-size: 48px;
}
.rankingList ul li a .sales {
  color: #9c9e9f;
}
.rankingList ul li a em {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.706624rem;
}
[data-dpr='2'] .rankingList ul li a em {
  font-size: 50px;
}
[data-dpr="3"] .rankingList ul li a em {
  font-size: 75px;
}
.products .product {
  height: 3.133255rem;
  border-bottom: 0.026666rem solid #dbdbdb;
  background: #fff;
}
.products .product a {
  display: block;
}
.products .product .left {
  width: 3.19992rem;
  text-align: center;
  padding-top: 0.26666rem;
}
.products .product .left img {
  width: 2.6666rem;
  height: 2.6666rem;
}
.products .product .right {
  width: 6.79983rem;
  padding-top: 0.39999rem;
}
.products .product .right p {
  font-size: 14px;
  padding-bottom: 0.199995rem;
  color: #000;
}
[data-dpr='2'] .products .product .right p {
  font-size: 28px;
}
[data-dpr="3"] .products .product .right p {
  font-size: 42px;
}
.products .product .right > span {
  font-size: 18px;
  color: #ea3900;
}
[data-dpr='2'] .products .product .right > span {
  font-size: 36px;
}
[data-dpr="3"] .products .product .right > span {
  font-size: 54px;
}
.products .product .right div {
  margin-top: 0.13333rem;
}
.products .product .right div span {
  color: #a1a1a1;
}
.comments {
  background: #fff;
  margin-bottom: 0.39999rem;
}
.comments .comment {
  border-bottom: 0.026666rem solid #bcbcbc;
  padding: 0.26666rem;
}
.comments .comment .info .pic {
  width: 2.93326rem;
  margin-left: 0.26666rem;
  margin-right: 0.53332rem;
}
.comments .comment .info .pic img {
  width: 100%;
  height: 100%;
}
.comments .comment .info .title {
  margin-top: 0.79998rem;
  font-size: 12px;
}
[data-dpr='2'] .comments .comment .info .title {
  font-size: 24px;
}
[data-dpr="3"] .comments .comment .info .title {
  font-size: 36px;
}
.comments .comment .content {
  border: 0.026666rem solid #bcbcbc;
  background: #f8f8f8;
  padding: 0 0.26666rem;
  position: relative;
}
.comments .comment .content .top {
  margin-top: 0.333325rem;
}
.comments .comment .content .top .name {
  color: #1f4a03;
}
.comments .comment .content .top .star {
  color: #ff841d;
  margin-left: 0.26666rem;
}
.comments .comment .content .disc {
  margin: 0.333325rem 0;
}
.comments .comment .content::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-top: 0.186662rem solid transparent;
  border-bottom: 0.186662rem solid #f8f8f8;
  border-right: 0.186662rem solid transparent;
  border-left: 0.186662rem solid transparent;
  position: absolute;
  top: -0.319992rem;
  left: 0.79998rem;
}
.comments .comment .content::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-top: 0.186662rem solid transparent;
  border-bottom: 0.186662rem solid #bcbcbc;
  border-right: 0.186662rem solid transparent;
  border-left: 0.186662rem solid transparent;
  position: absolute;
  top: -0.346658rem;
  left: 0.79998rem;
}
